<div class='container-fluid sheet-legends-in-the-mist'>
  <div class='row'>
    <div class='col-12 col-md-12 c'>
    [img:7003340|300|center|nolink]
    </div>
    {% set img = variables.portrait|default %}
    {% if img > 0 %}{% set wd = 8 %}{% else %}{% set wd = 12 %}{% endif %}
    <div class='col-12 col-md-{{wd}}'>
      <div class='card hero card' id='card-hero card'>
        <div class='card-header hero card'>{{variables.name|default}}</div>
        <div class='card-body of c'>
          <span class='lbl ev lbl-player-name'> Player Name </span><span class='var ev var-player-name'> {{variables.player_name|default}} </span>
          <table class='ctable'>
          <tr>
          <th class='lbl od lbl-companion'> Companion </th>
          <th class='lbl od lbl-relationship-tag'> Relationship Tag </th>
          </tr><br>
          {% for i in 1..5 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'companion_' ~ id)|default %}
            {% if name != "" %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='var {{eo}} var-companion'> {{name}} </td><td class='var {{eo}} var-relationship-tag'> {{attribute(variables, 'relationship_tag_' ~ id)|default}} </td>
          </tr>
            {% endif %}
          {% endfor %}
          </table><br>
          <div class='lbl od lbl-promise c'> Promise </div><div class='var od var-promise c'>
          {% for i in 1..5 %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            {% if attribute(variables, 'promise_' ~ id)|default|default == 1 %}<i class='fa-square-check'></i>{% else %}<i class='fa-square'></i>{% endif %}
          {% endfor %}
          </div>
          <div class='lbl ev lbl-quintessences c'> Quintessences </div><div class='var ev var-quintessences l'> {{variables.quintessences|default|nl2br}} </div>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-backpack c'> Backpack </div>
              <table class='ctable var-backpack'>
                {% for i in 1..10 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr><td class='var {{eo}} var-backpack l'> {{attribute(variables, 'backpack_' ~ id)|default}} </td></tr>
                {% endfor %}
              </table>
            </div>
            <div class='col-12 col-md-6'>
              <div class='lbl od lbl-notes c'> Notes </div><div class='var od var-notes l'> {{variables.notes|default|nl2br}} </div>
            </div>
          </div>
        </div>
      </div>    
    </div>    
    {% if img > 1 %}
    <div class='col-12 col-md-4'>
      <div class='card portrait' id='card-portrait card'>
        <div class='card-body of var od var-portrait'>
            [img:{{variables.portrait|default}}]
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class='row'>
    {% for td in 1..4 %}
      {% set eo = 'od' %}{% if td is even %}{% set eo = 'ev' %}{% endif %}
      {% set tx = attribute(variables, 'theme_' ~ td)|default %}
      {% set theme_list = {
  "none": [ "none", "none", "none"],
  "origin_circumstance": [ "Origin", "Circumstance", "fa-leaf"],
  "origin_devotion": [ "Origin", "Devotion", "fa-leaf"],
  "origin_past": [ "Origin", "Past", "fa-leaf"],
  "origin_people": [ "Origin", "People", "fa-leaf"],
  "origin_personality": [ "Origin", "Personality", "fa-leaf"],
  "origin_skill": [ "Origin", "Skill or Trade", "fa-leaf"],
  "origin_trade": [ "Origin", "Trade", "fa-leaf"],
  "origin_trait": [ "Origin", "Trait", "fa-leaf"],
  "adventure_duty": [ "Adventure", "Duty", "fa-swords"],
  "adventure_influence": [ "Adventure", "Influence", "fa-swords"],
  "adventure_knowledge": [ "Adventure", "Knowledge", "fa-swords"],
  "adventure_prodigious_ability": [ "Adventure", "Prodigious Ability", "fa-swords"],
  "adventure_relic": [ "Adventure", "Relic", "fa-swords"],
  "adventure_uncanny_being": [ "Adventure", "Uncanny Being", "fa-swords"],
  "greatness_destiny": [ "Greatness", "Destiny", "fa-crown"],
  "greatness_dominion": [ "Greatness", "Dominion", "fa-crown"],
  "greatness_mastery": [ "Greatness", "Mastery", "fa-crown"],
  "greatness_monstrosity": [ "Greatness", "Monstrosity", "fa-crown"] }
%}
{% set theme = theme_list[tx][0] %}
{% set ttype = theme_list[tx][1] %}
{% set ticon = theme_list[tx][2] %}
      {% if theme != "none" %}
      <div class='col-12 col-md-6'>
        <div class='card theme card' id='card-theme card'>
          <div class='card-header theme card' title='Theme Card'><i class='fa-regular {{ticon}}'></i> {{theme}}: {{ttype}}</div>
          <div class='card-body of'>
            <table class='ctable'>
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Power Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>U</th>
              </tr>
                {% for i in 1..12 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'theme_tag_' ~ td ~ '_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                  <td class='var {{eo}} var-theme-tag'> {{name}} </td>
                  <td class='var {{eo}} var-theme-tag-used c'>{% if attribute(variables, 'theme_tag_used_' ~ td ~ '_' ~ id)|default == 1 %}<i class='fa-solid fa-circle-xmark'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}</td>
              </tr>
                  {% endif %}
                {% endfor %}
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Weakness Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>&nbsp;</th>
              </tr>
                {% for i in 1..6 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'theme_tag_neg_' ~ td ~ '_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr><td class='var {{eo}} var-theme-tag-neg' colspan=2> {{name}} </td></tr>
                  {% endif %}
                {% endfor %}
            </table>
            <div class='lbl {{eo}} lbl-quest'> Quests </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'quest_' ~ td ~ '_' ~ id)|default %}
              {% if name != "" %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
               <div class='var {{eo}} var-quest'>{{name}}</div>
               {% endif %}
            {% endfor %}
            <div class='row'>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-abandon c'> Abandon </div><div class='var var-abandon c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'abandon_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-xmark'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-improve c'> Improve </div><div class='var var-improve c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'improve_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-check'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-milestone c'> Milestone </div><div class='var var-milestone c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'milestone_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-check'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
                {% set tx = attribute(variables, 'special_improvements_' ~ td)|default %}
                {% if tx != "" %}
                <div class='lbl od lbl-special-improvements'> Special Improvements </div><div class='var od var-special-improvements'> {{tx|nl2br}} </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class='row'>
    {% for td in 0..0 %}
      {% set tx = attribute(variables, 'theme_' ~ td)|default %}
      {% set eo = 'od' %}{% if td is even %}{% set eo = 'ev' %}{% endif %}
      <div class='col-12 col-md-3'> </div><div class='col-12 col-md-6'>
        <div class='card theme card' id='card-theme card'>
          <div class='card-header theme card' title='Fellowship Card'><i class='fa-regular fa-campfire'></i> {{tx}}</div>
          <div class='card-body of'>
            <table class='ctable'>
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Power Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>U</th>
              </tr>
                {% for i in 1..12 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'theme_tag_' ~ td ~ '_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                  <td class='var {{eo}} var-theme-tag'> {{name}} </td>
                  <td class='var {{eo}} var-theme-tag-used c'>{% if attribute(variables, 'theme_tag_used_' ~ td ~ '_' ~ id)|default == 1 %}<i class='fa-solid fa-circle-xmark'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}</td>
              </tr>
                  {% endif %}
                {% endfor %}
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Weakness Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>&nbsp;</th>
              </tr>
                {% for i in 1..6 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set name = attribute(variables, 'theme_tag_neg_' ~ td ~ '_' ~ id)|default %}
                  {% if name != "" %}
                    {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <tr><td class='var {{eo}} var-theme-tag-neg' colspan=2> {{name}} </td></tr>
                  {% endif %}
                {% endfor %}
            </table>
            <div class='lbl {{eo}} lbl-quest'> Quests </div>
            {% for i in 1..6 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'quest_' ~ td ~ '_' ~ id)|default %}
              {% if name != "" %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
               <div class='var {{eo}} var-quest'>{{name}}</div>
               {% endif %}
            {% endfor %}
            <div class='row'>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-abandon c'> Abandon </div><div class='var var-abandon c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'abandon_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-xmark'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-improve c'> Improve </div><div class='var var-improve c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'improve_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-check'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='lbl lbl-milestone c'> Milestone </div><div class='var var-milestone c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  {% if attribute(variables, 'milestone_' ~ td ~ '_' ~ id)|default|default == 1 %}<i class='fa-solid fa-circle-check'></i>{% else %}<i class='fa-regular fa-circle'></i>{% endif %}
                {% endfor %}
                </div>
                {% set tx = attribute(variables, 'special_improvements_' ~ td)|default %}
                {% if tx != "" %}
                <div class='lbl od lbl-special-improvements'> Special Improvements </div><div class='var od var-special-improvements'> {{tx|nl2br}} </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='row do-not-print'>
    <div class='col-12 c sm copyright'>
      &copy; 2025 Son of Oak Game Studio - LitM Sheet v1.00 made by Tillerz - Updated: 2025-09-20</a><br>
    </div>
  </div>
</div>