{% import _self as sheet %}
{% macro genList(list, name, value) %}<datalist id="{{name}}">{% for x in list %}<option value="{{x}}" {% if s == x %}selected=selected{% endif %} > {% endfor %}</datalist>{% endmacro %}
{% set themes = [ "Origin", "Adventure", "Greatness" ] %}
{% set types = [ "Circumstance", "Companion", "Destiny", "Devotion", "Dominion", "Duty", "Influence", "Knowledge", "Magic", "Mastery", "Monstrosity", "Past", "People", "Personality", "Possessions", "Prodigious Ability", "Relic", "Skill or Trade", "Trait", "Uncanny Being", "Alchemy & Herbalism", "Fey Patronage", "Landshaping", "Runic Invocation", "Shapeshifting", "Sorcery", "Spirit Binding", "Witchcraft" ] %}
<div class='container-fluid sheet-legends-in-the-mist'>
  <div class='row'>
    <div class='col-12 col-md-12'>
      <span class='note'>NOTE: lists are auto-expanding. If you have filled all entries of a list, save, and new empty fields will appear.</span><br/>
      <div class='card hero card' id='card-hero card'>
        <div class='card-header hero card'>Hero Card</div>
        <div class='card-body of'>
          <table class='ctable'>
            <tr><th class='ilbl od ilbl-name'><label for='name'>Character Name</label></th><td class='ivar od ivar-name'><input value='{{variables.name|default}}' class='form-control ivar ivar-name' id='name' name='name' type='text' required=required /></td></tr>
            <tr><th class='ilbl ev ilbl-player-name'><label for='player_name'>Player Name</label></th><td class='ivar ev ivar-player-name'><input value='{{variables.player_name|default}}' class='form-control ivar ivar-player-name' id='player_name' name='player_name' type='text' /></td></tr>
            <tr><th class='ilbl od ilbl-portrait'><label for='portrait'>Portrait</label></th><td class='ivar od ivar-portrait'><input value='{{variables.portrait|default}}' class='form-control ivar ivar-portrait c' id='portrait' name='portrait' type='number' /></td></tr>
          </table>
          <table class='ctable'>
          <tr>
          <th class='ilbl od ilbl-companion'><label for='companion'>Companion</label></th>
          <th class='ilbl od ilbl-relationship-tag'><label for='relationship_tag'>Relationship Tag</label></th>
          </tr>
          {% set list_max = 10 %}{% set empty_min = 1 %}{% set list_min = 3 %}{% set empty_count = 0 %}{% set count = 0 %}
          {% for i in 1..list_max %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set name = attribute(variables, 'companion_' ~ id)|default|trim %}
            {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
            {% if empty_count <= empty_min or i < list_min or name != "" %}
              {% set count = count + 1 %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
            {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
            {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
          <tr>
          <td class='ivar {{eo}} ivar-companion'><input value='{{name}}' class='form-control ivar ivar-companion' id='companion' name='companion_{{id}}' type='text' /></td><td class='ivar {{eo}} ivar-relationship-tag'><input value='{{attribute(variables, 'relationship_tag_' ~ id)|default}}' class='form-control ivar ivar-relationship-tag' id='relationship_tag' name='relationship_tag_{{id}}' type='text' /></td>
          </tr>
            {% endif %}
          {% endfor %}
          </table>
          <div class='ilbl od ilbl-promise c'><label for='promise'>Promise</label></div><div class='ivar od ivar-promise c'>
            {% for i in 1..5 %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <input value='0' id='promise' name='promise_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'promise_' ~ id)|default > 0 %} checked='checked'{% endif %} id='promise' name='promise_{{id}}' type='checkbox' />
            {% endfor %}
          </div>
          <div class='row'>
            <div class='col-12 col-md-6'>
              <div class='ilbl ev ilbl-quintessences c'><label for='quintessences'>Quintessences</label></div><div class='ivar ev ivar-quintessences'><div class='iContent'><textarea class='form-control ivar ivar-quintessences ' id='quintessences' name='quintessences' rows='3'  >{{variables.quintessences|default}}</textarea></div></div>
            </div>
            <div class='col-12 col-md-6'>
              <div class='ilbl od ilbl-notes c'><label for='notes'>Notes</label></div><div class='ivar od ivar-notes'><div class='iContent'><textarea class='form-control ivar ivar-notes ' id='notes' name='notes' rows='3'  >{{variables.notes|default}}</textarea></div></div>
            </div>
          </div>
          <div class='ilbl od ilbl-backpack c'><label for='backpack'>Backpack</label></div><div class='ivar od ivar-backpack'><div class='iContent'><textarea class='form-control ivar ivar-backpack ' id='backpack' name='backpack' rows='3'  >{{variables.backpack|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    {% for td in 1..4 %}
      {% set eo = 'od' %}{% if td is even %}{% set eo = 'ev' %}{% endif %}
      <div class='col-12 col-md-6'>
        <div class='card theme card' id='card-theme card'>
          <div class='card-header theme card'>Theme Card {{td}}</div>
          <div class='card-body of'>
            <div class='ilbl {{eo}} ilbl-theme c'><label for='theme'>Theme &amp; Type</label></div>
            <div class='ivar {{eo}} ivar-theme'>
              {% set x = attribute(variables, 'theme_' ~ td)|default %}<input value='{{x}}' list='themes' class='form-control ivar ivar-theme' id='theme' name='theme_{{td}}' />{{ _self.genList(themes, 'themes', x) }}
              {% set x = attribute(variables, 'themetype_' ~ td)|default %}<input value='{{x}}' list='types' class='form-control ivar ivar-themetype' id='themetype' name='themetype_{{td}}' />{{ _self.genList(types, 'types', x) }}
            </div>
            <table class='ctable'>
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Power Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>U</th>
              </tr>
            {% set list_max = 30 %}{% set empty_min = 2 %}{% set list_min = 4 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'theme_tag_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='ivar {{eo}} ivar-theme-tag'><input value='{{name}}' class='form-control ivar ivar-theme-tag' id='theme_tag' name='theme_tag_{{td}}_{{id}}' type='text' /></td>
                <td class='ivar {{eo}} ivar-theme-tag-used c'><input value='0' id='theme_tag_used' name='theme_tag_used_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'theme_tag_used_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='theme_tag_used' name='theme_tag_used_{{td}}_{{id}}' type='checkbox' /></td>
              </tr>
              {% endif %}
            {% endfor %}
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Weakness Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>&nbsp;</th>
              </tr>
            {% set list_max = 30 %}{% set empty_min = 1 %}{% set list_min = 1 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'theme_tag_neg_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='ivar {{eo}} ivar-theme-tag-neg'><input value='{{name}}' class='form-control ivar ivar-theme-tag-neg' id='theme_tag_neg' name='theme_tag_neg_{{td}}_{{id}}' type='text' /></td>
                <td class='ivar {{eo}} ivar-theme-tag-used c'>&nbsp;</td>
              </tr>
              {% endif %}
            {% endfor %}
            </table>
            <div class='ilbl {{eo}} ilbl-quest c'><label for='quest'>Quests</label></div>
            {% set list_max = 50 %}{% set empty_min = 1 %}{% set list_min = 3 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'quest_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class='ivar {{eo}} ivar-quest'><input value='{{name}}' class='form-control ivar ivar-quest' id='quest' name='quest_{{td}}_{{id}}' type='text' /></div>
              {% endif %}
            {% endfor %}
            <div class='row'>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-abandon c'><label for='abandon'>Abandon</label></div><div class='ivar {{eo}} ivar-abandon c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='abandon' name='abandon_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'abandon_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='abandon' name='abandon_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-improve c'><label for='improve'>Improve</label></div><div class='ivar {{eo}} ivar-improve c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='improve' name='improve_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'improve_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='improve' name='improve_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-milestone c'><label for='milestone'>Milestone</label></div><div class='ivar {{eo}} ivar-milestone c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='milestone' name='milestone_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'milestone_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='milestone' name='milestone_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
            </div>
            <div class='ilbl od ilbl-special-improvements c'><label for='special_improvements'>Special Improvements</label></div><div class='ivar od ivar-special-improvements'><div class='iContent'><textarea class='form-control ivar ivar-special-improvements ' id='special_improvements_{{td}}' name='special_improvements_{{td}}' rows='3'  >{{attribute(variables, 'special_improvements_' ~ td )|default}}</textarea></div></div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='row'>
    {% for td in 0..0 %}
      {% set eo = 'od' %}{% if td is even %}{% set eo = 'ev' %}{% endif %}
      <div class='col-12 col-md-6'>
        <div class='card theme card' id='card-theme card'>
          <div class='card-header theme card'>Fellowship Card</div>
          <div class='card-body of'>
            <div class='ilbl {{eo}} ilbl-theme c'><label for='theme'>Name of the Fellowship</label></div><div class='ivar {{eo}} ivar-theme'>
            <input value='{{attribute(variables, 'theme_' ~ td)|default}}' class='form-control ivar ivar-theme' id='theme' name='theme_{{td}}' type='text' /></div>
            <table class='ctable'>
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Power Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>U</th>
              </tr>
            {% set list_max = 30 %}{% set empty_min = 2 %}{% set list_min = 4 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'theme_tag_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='ivar {{eo}} ivar-theme-tag'><input value='{{name}}' class='form-control ivar ivar-theme-tag' id='theme_tag' name='theme_tag_{{td}}_{{id}}' type='text' /></td>
                <td class='ivar {{eo}} ivar-theme-tag-used c'><input value='0' id='theme_tag_used' name='theme_tag_used_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'theme_tag_used_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='theme_tag_used' name='theme_tag_used_{{td}}_{{id}}' type='checkbox' /></td>
              </tr>
              {% endif %}
            {% endfor %}
              <tr>
                <th class='ilbl ilbl-theme-tag c'><label for='theme_tag'>Weakness Tags</label></th>
                <th class='ilbl ilbl-theme-tag-used c' title='used'>&nbsp;</th>
              </tr>
            {% set list_max = 30 %}{% set empty_min = 2 %}{% set list_min = 2 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'theme_tag_neg_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <tr>
                <td class='ivar {{eo}} ivar-theme-tag-neg'><input value='{{name}}' class='form-control ivar ivar-theme-tag-neg' id='theme_tag_neg' name='theme_tag_neg_{{td}}_{{id}}' type='text' /></td>
                <td class='ivar {{eo}} ivar-theme-tag-used c'>&nbsp;</td>
              </tr>
              {% endif %}
            {% endfor %}
            </table>
            <div class='ilbl {{eo}} ilbl-quest c'><label for='quest'>Quests</label></div>
            {% set list_max = 50 %}{% set empty_min = 1 %}{% set list_min = 3 %}{% set empty_count = 0 %}{% set count = 0 %}
            {% for i in 1..list_max %}
              {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
              {% set name = attribute(variables, 'quest_' ~ td ~ '_' ~ id)|default|trim %}
              {% if name == "" and i > list_min %}{% set empty_count = empty_count + 1 %}{% endif %}
              {% if empty_count <= empty_min or i < list_min or name != "" %}
                {% set count = count + 1 %}
                {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
              <div class='ivar {{eo}} ivar-quest'><input value='{{name}}' class='form-control ivar ivar-quest' id='quest' name='quest_{{td}}_{{id}}' type='text' /></div>
              {% endif %}
            {% endfor %}
            <div class='row'>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-abandon c'><label for='abandon'>Abandon</label></div><div class='ivar {{eo}} ivar-abandon c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='abandon' name='abandon_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'abandon_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='abandon' name='abandon_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-improve c'><label for='improve'>Improve</label></div><div class='ivar {{eo}} ivar-improve c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='improve' name='improve_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'improve_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='improve' name='improve_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
              <div class='col-12 col-md-4'>
                <div class='ilbl {{eo}} ilbl-milestone c'><label for='milestone'>Milestone</label></div><div class='ivar {{eo}} ivar-milestone c'>
                {% for i in 1..3 %}
                  {% set id = i %}{% if id < 10 %}{% set id = '0' ~ id %}{% endif %}{% if id < 100 %}{% set id = '0' ~ id %}{% endif %}
                  {% set eo = 'od' %}{% if id is even %}{% set eo = 'ev' %}{% endif %}
                  <input value='0' id='milestone' name='milestone_{{td}}_{{id}}' type='hidden' /><input value='1' class='c' {% if attribute(variables, 'milestone_' ~ td ~ '_' ~ id)|default > 0 %} checked='checked'{% endif %} id='milestone' name='milestone_{{td}}_{{id}}' type='checkbox' />
                {% endfor %}
                </div>
              </div>
            </div>
            <div class='ilbl od ilbl-special-improvements c'><label for='special_improvements'>Special Improvements</label></div><div class='ivar od ivar-special-improvements'><div class='iContent'><textarea class='form-control ivar ivar-special-improvements ' id='special_improvements_{{td}}' name='special_improvements_{{td}}' rows='3'  >{{attribute(variables, 'special_improvements_' ~ td )|default}}</textarea></div></div>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class='col-12 col-md-6'>
      <div class='card morenotes card' id='card-morenotes card'>
        <div class='card-header morenotes card'>More Notes</div>
        <div class='card-body of'>
          <div class='ivar od ivar-morenotes'><div class='iContent'><textarea class='form-control ivar ivar-morenotes ' id='morenotes' name='morenotes' rows='3'  >{{variables.morenotes|default}}</textarea></div></div>
        </div>
      </div>
    </div>
  </div>
</div>