{% import _self as sheet %}
{# ---------------------------------------------- #}
{% macro genTrait(tr = '', type = '') %}{% if tr != '' %}{% set pf = '' %}{% set base = 'trait' %}
{% set tr = tr|trim|upper %}{% if type != '' %}{% set base = type %}{% endif %}
{% if tr == 'COMMON' %}{% set pf = 'r_common' %}
{% elseif tr == 'UNCOMMON' %}{% set pf = 'r_uncommon' %}
{% elseif tr == 'RARE' %}{% set pf = 'r_rare' %}
{% elseif tr == 'UNIQUE' %}{% set pf = 'r_unique' %}{% endif %}
<span class="trait {{base}} {{pf}}">{{tr}}</span>{% endif %}{% endmacro genTrait %}
{# ---------------------------------------------- #}
<div class="container-fluid pf2-rpg">
    <div class="pf2-item-block col-12">
        <div class="row align-self-start">
            <div class="col-12 card">
                <div class="card-header pf-red-bg">{{ variables.name }} {% if variables.level|default != '' %} - <span class="level">ITEM {{ variables.level}}</span>{% endif %}</div>
                <div class="card-body txt">
                    {% if variables.itemflags|default != '' %}{% set list = variables.itemflags|split(',') %}{% for tr in list %}{{ sheet.genTrait(tr) }}{% endfor %}{% endif %}<br><br>
                    {% set wd = 12 %}{% if variables.itemart|default != "" %}{% set wd = 8 %}{% endif %}
                    <div class="row">
                        <div class="col-12 col-lg-{{wd}}">
                            <div class="usage">
                                {% if variables.usage|default != "" %}<span class="descriptor">Usage</span> {{ variables.usage }};{% endif %}
                                {% if variables.bulk|default != "" %}<span class="descriptor">Bulk</span> {{ variables.bulk }};{% endif %}
                                {% if variables.activate|default != "" %}<span class="descriptor">Activate</span> {{ variables.activate }};{% endif %}
                            </div>
                            <hr class="divider" />
                            {% if variables.description|default != "" %}<div class="itemtext">{{ variables.description }}</div><hr class="divider" />{% endif %}
                            {% if variables.firsttype|default != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.firsttype }};
                                {% if variables.firstlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.firstlevel }};{% endif %}
                                {% if variables.firstprice|default != "" %}<span class="descriptor">Price</span> {{ variables.firstprice }};{% endif %}
                                {% if variables.firsttext|default != "" %}<div class="typetext">{{ variables.firsttext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                            {% if variables.secondtype|default != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.secondtype }};
                                {% if variables.secondlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.secondlevel }};{% endif %}
                                {% if variables.secondprice|default != "" %}<span class="descriptor">Price</span> {{ variables.secondprice }};{% endif %}
                                {% if variables.secondtext|default != "" %}<div class="typetext">{{ variables.secondtext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                            {% if variables.thirdtype|default != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.thirdtype }};
                                {% if variables.thirdlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.thirdlevel }};{% endif %}
                                {% if variables.thirdprice|default != "" %}<span class="descriptor">Price</span> {{ variables.thirdprice }};{% endif %}
                                {% if variables.thirdtext|default != "" %}<div class="typetext">{{ variables.thirdtext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                            {% if variables.fourthtype|default != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.fourthtype }};
                                {% if variables.fourthlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.fourthlevel }};{% endif %}
                                {% if variables.fourthprice|default != "" %}<span class="descriptor">Price</span> {{ variables.fourthprice }};{% endif %}
                                {% if variables.fourthtext|default != "" %}<div class="typetext">{{ variables.fourthtext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                            {% if variables.fifthtype|default != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.fifthtype }};
                                {% if variables.fifthlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.fifthlevel }};{% endif %}
                                {% if variables.fifthprice|default != "" %}<span class="descriptor">Price</span> {{ variables.fifthprice }};{% endif %}
                                {% if variables.fifthtext|default != "" %}<div class="typetext">{{ variables.fifthtext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                            {% if variables.sixthtype is defined and variables.sixthtype != "" %}
                            <div class="itemtext">
                                <span class="descriptor">Type</span> {{ variables.sixthtype }};
                                {% if variables.sixthlevel|default != "" %}<span class="descriptor">Level</span> {{ variables.sixthlevel }};{% endif %}
                                {% if variables.sixthprice|default != "" %}<span class="descriptor">Price</span> {{ variables.sixthprice }};{% endif %}
                                {% if variables.sixthtext|default != "" %}<div class="typetext">{{ variables.sixthtext|nl2br }}</div>{% endif %}
                                <hr class="divider" />
                            </div>
                            {% endif %}
                        </div>
                        {% if variables.itemart|default != "" %}
                        <div class="col-12 col-lg-4">
                            [img:{{ variables.itemart|replace({'[img:': '', ']': ''}) }}|nolink] 
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>