<div class='container-fluid sheet-daggerheart-adversary'>
  <div class='row'>
    <div class='col-12'>
      <div class='card adversary' id='card-adversary'>
        {% set img = variables.img| default %}{% set wd = 12 %}{% if img > 0 %}{% set wd = 8 %}{% endif %}
        {% set type = "Tier " ~ variables.tier|default ~ " " ~ variables.type|default %}
        <div class='card-header adversary'>{{variables.name|default}} - {{type}}</div>
        <div class='card-body of'>
          <div class='row'>
            <div class='col-12 col-md-{{wd}}'>
              {{variables.description|default}}<br><br>
                <b>Motives and Tactics</b>: {{variables.motives_and_tactics|default|nl2br}}<br>
                <hr>
<b>Difficulty</b>: {{variables.difficulty|default}} |
<b>Thresholds</b>: {{variables.damage_thresholds|default}} |
<b>HP</b>: {{variables.hit_points|default}} |
<b>Stress</b>: {{variables.stress|default}}<br> 
<b>ATK</b>: {{variables.attack_modifier|default}} | {{variables.standard_attack|default}}<br>
{% if variables.experience|default != "" %}Experience: {{variables.experience|default}}<br>{% endif %}
<hr>
                <h4>Features</h4>
                {{variables.features|default|nl2br}}
            </div>
            {% if img > 0 %}
            <div class='col-12 col-md-4 hidden-xs hidden-sm d-none d-md-block'>
              [img:{{variables.img|default}}]
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if variables.notes|default != "" %}
  <div class='row'>
    <div class='col-12'>
      <div class='card notes' id='card-notes'>
        <div class='card-header notes'>Notes</div>
        <div class='card-body of'>
          <div class='var od var-notes'> {{variables.notes|default|nl2br}} </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>